
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <section class="navbar navbar-fixed-top ">

        <div>
            <a class="active" href="/Home/Index">Home</a>
            <a href="#news">News</a>
            <a href="/Home/Contact">Contact</a>
            <a href="/Home/About">About</a>
            <a href="/Home/Login">Login(Admin/Resturant)</a>
            <a href="/Employee/Login">Employee Login</a>
        </div>
        <div class="navbar-btn top-right">
            <input class="" type="submit" value="Admin LogOut" onclick="location.href='@Url.Action("LogOut", "Home")'" />

        </div>


    </section>
    <form action="" method="post">
        <div class=" btn-group-vertical">

            <a class="btn btn-primary btn-lg" href="/Admin/FoodList">Food List</a>
            <a class="btn btn-primary btn-lg" href="/Admin/List">Employee List</a>
            <a class="btn btn-primary btn-lg" href="#">Request</a>
            <a class="btn btn-primary btn-lg" href="#">Status</a>
            <h4>admin</h4>
        </div>
    </form>
</body>
</html>
