
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
    <title>Registration</title>
</head>

<body>
    <form action="" method="post">


        <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="https://c0.wallpaperflare.com/preview/331/257/138/registration-login-keyboard-man.jpg"
                                         alt="register image" class="w-100 vh-100" style="object-fit: cover; object-position: left;" />
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black">
                                        <h3 class="mb-5 text-uppercase">NGO Registration form</h3>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" id="form3Example1m" name="Name" class="form-control form-control-lg" />
                                                    <label class="form-label" for="form3Example1m">Name</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <input type="password" id="form3Example1n" name="Password" class="form-control form-control-lg" />
                                                    <label class="form-label" for="form3Example1n">Password</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                           
                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1m1" name="Contact" class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Example1m1">Phone</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <input type="text" id="form3Example1n1" name="Email" class="form-control form-control-lg" />
                                                        <label class="form-label" for="form3Example1n1">Email</label>
                                                    </div>
                                                </div>
                                            </div>

                                            



                                            <div class="d-flex justify-content-end pt-3">
                                                <a class="btn btn-light btn-lg btn-info" href="/Employee/Login">Back</a>

                                                <input type="submit" value="Submit form" class="btn btn-warning btn-lg ms-2" />
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>

</html>
