@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is my midterm project.I use MVC,Entity framework and ASP.NET<br />
    It is a NGO project.where they collect food from resturant and donate by Employee for Hunger people.So i try build a demo project for them</p>
