@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kuril<br />
    Dhaka<br />
    <abbr title="Email">E:</abbr>
    ankonsarker17@gmail.com
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ankonsarker17@gmail.com">ankonsarker17@gmail.com.com</a><br />
    <strong>Marketing:</strong> <a href="https://ankon78.github.io/portfolio-website/">Website</a>
</address>